
@font-face {
    font-family: "Outfit";
    src:"./assets/fonts/outfit/Outfit-VariableFont_wght.ttf"  format("truetype");
    font-weight:100 900;
    font-style:normal;
}


@font-face {
    font-family: "Young-serif";
    src:"./assets/fonts/young-serif/YoungSerif-Regular.ttf"  format("truetype");
    font-weight:100 900;
    font-style:normal;
}

*{
  
margin:0;
padding: 0;
}
h1{
    
    font-family: "Young-serif", serif;
    font-size: 2.5em;
    display:block;
    text-align:justify;
    margin-bottom:1em;
}
h2{
    
    font-size:1.125em;
    color:rgb(130, 46, 130);
    font-family: "Outfit", sans-serif;
}
h3{
    font-size:1.5em;
    color:maroon;
    margin-bottom:.5em;
   
}

p{
    font-size: 1rem;

    font-family: "Outfit", sans-serif;
  
    }

img{
    border-radius: 10px;
    max-width:100%;
    height:auto;
    margin-bottom:1em;
}
body{
display:flex;
justify-content: center;
align-items:center;
padding:1rem;
background-color:  hsla(14, 45%, 36%, 0.285);
min-height: 100vh;

}



.recipe-container{
    display:flex;
    flex-direction:column;   
    padding:1.5em;
    background-color: white;
    border-radius:10px;
    max-width: 800px;
    width:100%;

}
.cook-time{
    margin:1em 1em;
    padding:1.5em;
    width:100%;
    background-color:rgba(240, 222, 225, 0.292);
    box-sizing:border-box;
    border-radius: 10px;
   
}

.nutrition{
    padding:1.5em
    
}
.ingredients{
    margin-bottom:1.5em;
    padding:1.5em
    
    
}
.instructions{
    margin-bottom:1.5em;
    padding:1.5em
    
}


.nutrition-table{
    width:100%;
    margin-top:10em;
}

table{
    width:75%;
 margin:1em auto;
}

.bold{
    font-weight: bold;
}



.nutrition td{
    padding:0.5em;
    border-bottom: 1px solid #ddd;
    font-family: "Outfit", sans-serif;
}
ul, ol{
    padding-left:1.5em;
    margin-top:0.5em;
    font-family: "Outfit", sans-serif;
}

li{
margin-left:1em;
margin-right:1em;
margin-bottom:.5em;
}

.nutrition-left{
font-weight: bold;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:768px){
    body{
        padding:15px;
    }
}

.recipe-container{
    padding:1rem;
    margin:1rem;
}

.cook-time{
    width:100%;
    margin:15px 0;
    padding:15px;

    
}
body, .recipe-container{
    flex-direction:column
}
