


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin:0;
padding: 0;
}
h1{
    font-size: 1.875em;

}
h2{
    
    font-size:1.125em;
    color:maroon;

}
h3{
    font-size:1.5em;
    color:maroon;
    margin-bottom:.5em;


}

p{
    font-size: 1rem;
    }

img{
    border-radius: 10px;
    max-width:100%;
    height:auto;
}
body{
display:flex;
justify-content: center;
align-items:center;
padding:5vw;
background-color:  hsla(14, 45%, 36%, 0.285);
min-height: 100vh;
}



.recipe-container{
    display:flex;
    flex-direction:column;
    justify-content:left ;
    padding:1.5em;
 margin:1.5em;
 background-color: white;
 border-radius:10px;
 max-width: 90%;
 width:100%;
 box-sizing: border-box;
 

}
.cook-time{
    margin:1em 0;
    padding:1.5em;
    width:100%;
    background-color:rgb(240, 222, 225);
    box-sizing:border-box;
   
}
.ingredients{
    margin-bottom:1.5em;
    padding:1.5em
    
}
.instructions{
    margin-bottom:1.5em;
    padding:1.5em
}
.nutrition{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:1em;
    
}
.nutrition-left{}
.nutrition-right{}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:768px){
    body{
        padding:15px;
    }
}

.recipe-container{
    padding:1rem;
    margin:1rem;
}

.cook-time{
    width:100%;
    margin:15px 0;
    padding:15px;

    
}
body, .recipe-container{
    flex-direction:column
}
